<!DOCTYPE html>
<html>
<head>
  <title>Cadastro de Fotógrafo</title>
</head>
<body>
  <h1>Cadastro de Fotógrafo</h1>
  <form method='post' action='/fotografos'>
    <label>Nome</label>
    <input type='text' name='nome' required>
    <label>Senha</label>
    <input type='password' name='senha' required>
    <label>Profile Photo</label>
    <input type='text' name='profilePhoto'>
    <label>Instagram</label>
    <input type='text' name='instagram'>
    <label>Whatsapp</label>
    <input type='text' name='whatsapp'>
    <label>Email</label>
    <input type='email' name='email'>
    <label>Link</label>
    <input type='text' name='link'>
    <button type='submit'>Cadastrar</button>
  </form>
</body>
</html>